/*font*/

@font-face{

}



/*Reset*/
*{
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
    user-select: none;
    list-style: none;
    text-decoration: none;
}

/*Global*/

.page{
    width: 100vw;
    height: fit-content;
}


/*Header*/

.desktop{
    display: none;
}

.mobile{
    width: 100vw;
}

/*Mobile Menu*/

.nav-bar{
    max-height: 100px;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #2A2A2A;
    padding: 12px 20px;
}

.logo{
    width: 50%;
    min-width: 200px;
    max-width: 300px;
    z-index: 100;
}

.logo img{
    width: 100%;
    z-index: 100;
}

.menu{
    display: flex;
    width: 100vw;
    overflow: hidden;
}

.menu li{
    padding-left: 30px;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #FFFFFF;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after{
    width: 100%;
}

.open-menu .burger{
    width: 40px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    content: '';
    z-index: 100;
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    top: 50%;
    transform: translate(5px, -50%);
    opacity: 1;
}

.open-menu .burger:hover{
    opacity: 1;
}

.open-menu .burger::before,
.open-menu .burger::after{
    width: 40px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    content: '';
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    content: "";
    opacity: 1;
    transform: translate(-5px, 0);
}


.open-menu .burger::before{
    top: -10px;
}

.open-menu .burger::after{
    top: 10px;
}


.open-menu{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 25px;
    top: 35%;
    right: 26px;
    transform: translateY(0);
    z-index: 100;
    overflow: hidden;
}

.open-menu.is-active .burger{
    transform: rotate(45deg);
}

.open-menu.is-active .burger::after{
    transform-origin: center;
    transform: translate(0, -10px) rotate(180deg);
    opacity: 0;
    
}

.open-menu.is-active .burger::before{
    transform-origin: center;
    transform: translate(-2px, 9px) rotate(90deg);
}

.toggle{
    display: none;
}

@media only screen and (max-width: 1080px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 50;
        background-color: #2A2A2A;
        transition: all .2s ease-in-out;
    }

    .menu li{
        margin-top: 40px;
    }

    .menu li a{
        padding: 10px;
    }

    .open-menu, .close-menu{
        display: block;
    }

    #toggle:checked ~ .menu{
        right: 0;
    }
}


