
/*Reset*/
*{
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
    user-select: none;
    list-style: none;
    text-decoration: none;
    font-family: filson-pro, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

/*Pre Load*/

#preloader{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: rgba(241, 238, 243, 255);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader video{
    width: 100%;
    min-width: 800px;
    display: block;
}


/*Global*/
main{
    position: relative;
    top: 100px;
}

.page{
    visibility: hidden;
    height: 0;
}

.title{
    width: 100%;
    margin: 50px 0;
}

.title h2{
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: 1.5rem;
}

.content{
    width: 80%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin: 0 auto;
}

h3{
    font-size: 1.2rem;
    font-weight: 500;
}

p{
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    font-weight: 400;
    margin: 20px 0 0;
}

.content{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*Header*/

.desktop{
    display: none;
}

.mobile{
    width: 100vw;
}

header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/*Mobile Menu*/

nav{
    height: 100px;
}

.nav-bar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #2A2A2A;
    padding: 0 25px;
}

.logo{
    width: 50%;
    min-width: 200px;
    max-width: 300px;
    z-index: 99;
}

.logo img{
    width: 100%;
    z-index: 99;
}

.menu{
    display: flex;
    width: 80%;
    overflow: hidden;
}

.menu li{
    padding-left: 30px;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #FFFFFF;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after{
    width: 100%;
}

.open-menu .burger{
    width: 40px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    content: '';
    z-index: 100;
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    top: 50%;
    transform: translate(5px, -50%);
    opacity: 1;
}

.open-menu .burger:hover{
    opacity: 1;
}

.open-menu .burger::before,
.open-menu .burger::after{
    width: 40px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    content: '';
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    content: "";
    opacity: 1;
    transform: translate(-5px, 0);
}


.open-menu .burger::before{
    top: -10px;
}

.open-menu .burger::after{
    top: 10px;
}


.open-menu{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 25px;
    top: 35%;
    right: 26px;
    transform: translateY(0);
    z-index: 99;
    overflow: hidden;
    background: #2A2A2A;
}

.open-menu.is-active .burger{
    transform: rotate(45deg);
}

.open-menu.is-active .burger::after{
    transform-origin: center;
    transform: translate(0, -10px) rotate(180deg);
    opacity: 0;
    
}

.open-menu.is-active .burger::before{
    transform-origin: center;
    transform: translate(-2px, 9px) rotate(90deg);
}

.toggle{
    display: none;
}

@media only screen and (max-width: 1080px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 10px;
        right: -100%;
        z-index: 50;
        background-color: #2A2A2A;
        transition: all .2s ease-in-out;
    }

    .menu li{
        margin-top: 40px;
    }

    .menu li a{
        padding: 10px;
    }

    .open-menu, .close-menu{
        display: block;
    }

    #toggle:checked ~ .menu{
        right: 0;
    }
}




/*Main*/

main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
}


/*Banner*/

.banner{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),  url(./images/Banner_Background_Small@0.5x.jpg);
    color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

.banner .content{
    height: 95%;
    display: flex;
}

.banner .lower{
    position: relative;
    color: #D9B4FF;
}


@media only screen and (max-width: 375px) {
    .banner h1{
        font-size: 1.8rem;
    }

    .banner .content img{
        display: none;
    } 

    .banner .upper{
        margin-top: 20px;
    }

    .banner .lower{
        margin-bottom: 50%;
    }

    .banner .lower span{
        font-size: 1.8rem;
    }

    .b_sub{
        font-size: 0.8rem;
    }
    
}

.banner h1{
    font-weight: 800;
    width: max-content;
}

.banner .content img{
    width: 50%;
    min-width: 200px;
    margin: 50px 0;
}

.b_sub{
    width: 90%;
    font-weight: 200;
    font-style: italic;
    margin: 100px 0 20px 0;
}

/*What I Do*/

.what{
    width: 100vw;
    height: fit-content;
    padding-bottom: 30px;
}

.what .content{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.what img{
    display: none;
}

.what .content .b_btn p{
    font-size: 0.8rem;
    font-weight: 200;
    font-style: italic;
}

.b_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b_btn a{
    width: 100%;
    padding: 20px 0;
    margin: 20px auto;
    background-color: #D9B4FF;
    color: #FFFFFF;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

/*About*/

.about{
    width: 100vw;
    height: fit-content;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/About_Small.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding-bottom: 30px;
}

/*Projects*/

.projects{
    width: 100vw;
    height: fit-content;
    padding-bottom: 30px;
    text-align: center;
}

.projects .content{
    height: fit-content;
    margin: 0 auto;
}

.projects .content .pro_top{
    font-weight: 400;
    margin-top: 0;
}

.projects p{
    font-weight: 700;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

/*Projects Slider*/
.carousel{
    position: relative;
    height: 110vh;
    width: 85%;
    margin: 0 auto;
}


.carousel__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container{
    background: #2A2A2A;
    height: 100%;
    position: relative;
    overflow: hidden;
    color: #FFFFFF;
}

.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.25s ease-in;
}

.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #2A2A2A;
    border: 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    height: 60px;
}

.carousel--left{
    left: -22px;
}

.carousel--right{
    right: -22px;
}

.carousel__button img{
    width: 15px;
}

.carousel__nav{
    background: #2A2A2A;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator{
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    margin: 0 5px;
    cursor: pointer;
}

.carousel__indicator.current-slide{
    background: #D9B4FF;
}

.is-hidden{
    display: none;
}

/*Slide inner styling*/

.s_head{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: left;
    text-align: left;
}

.s_head img{
    width: 20%;
    margin: 0 10px 0 20px;
}

.s_head h3{
    width: 50%;
}

.slide_content{
    width: 85%;
    margin: 0 auto;
    font-weight: 200;
    text-align: left;
}

.slide_content p{
    font-weight: 400;
    margin: 20px 0 0;
}

.slide_content img{
    width: 100%;
    margin-top: 30px;
}

.take_me{
    width: 100%;
    height: 100px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.take_me a{
    color: #FFFFFF;
    background: #D9B4FF;
    padding: 10px 40px;
    margin-top: 10px;
    text-align: center;
}

p.open_new{
    margin-top: 0;
    text-align: center;
}

/*Mind Bending*/

.mind_desk{
    display: none;
}

.mind__mobile{
    text-align: center;
}

.vid-container{
    height: 75%;
    overflow: hidden;
    margin: 20px 0;
}

.mind__mobile video{
    height: 70vh;
    width: 100%;
    object-fit: cover;
}

/*Contact*/

.contact {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(./images/Contact_Small.jpg);
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
}

.contact p{
    margin: 10px auto;
}

.center--text{
    text-align: center;
}

.inner-container{
    height: 40%;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding: 10px;
    color: #000000;
}

.inner-container h3{
    margin: 0 0 10px 0;
}

.inner-container p {
    user-select: text;
}    

.o_btn a{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 10px auto;
}

.o_btn img{
    width: 100%;
    height: 50px;
    object-fit: cover;
    margin: 5px auto;
}

/*Footer*/

.foot_banner{
    height: 300px;

}

.foot_banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.foot{
    width: 90%;
    margin: 0 auto;
}

.logo__foot{
    width: 100%;
    margin: 20px auto;
}

.logo__foot img{
    width: 100%;
    margin: 20px auto;
}

.foot_nav{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.foot_nav a{
    color: #000000;
}

.foot_nav li{
    margin: 10px;
}

.foot_other{
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.foot-other h3{
    margin: 10px 0;
}

.foot_other li{
    width: 100%;
}

.foot_other img{
    width: 100%;
    margin: 10px 0;
}