
/*Reset*/
*{
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
    user-select: none;
    list-style: none;
    text-decoration: none;
    font-family: filson-pro, sans-serif;
    box-sizing: border-box;
}

/*Global*/

.page{
    width: 100vw;
    height: fit-content;
    display: none;
}

main{
    position: relative;
    top: 100px;
}

.title{
    width: 100%;
    margin: 50px 0;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: 1.2em;
}

/*Pre Load*/

#preloader{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: rgba(241, 238, 243, 255);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader video{
    width: 100%;
    min-width: 800px;
    display: block;
}

/*Header*/

.desktop{
    display: none;
}

.mobile{
    width: 100vw;
}

header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/*Mobile Menu*/

nav{
    height: 100px;
}

.nav-bar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #2A2A2A;
    padding: 0 25px;
}

.logo{
    width: 50%;
    min-width: 200px;
    max-width: 300px;
    z-index: 99;
}

.logo img{
    width: 100%;
    z-index: 99;
}

.menu{
    display: flex;
    width: 80%;
    overflow: hidden;
}

.menu li{
    padding-left: 30px;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #FFFFFF;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after{
    width: 100%;
}

.open-menu .burger{
    width: 40px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    content: '';
    z-index: 100;
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    top: 50%;
    transform: translate(5px, -50%);
    opacity: 1;
}

.open-menu .burger:hover{
    opacity: 1;
}

.open-menu .burger::before,
.open-menu .burger::after{
    width: 40px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    content: '';
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    content: "";
    opacity: 1;
    transform: translate(-5px, 0);
}


.open-menu .burger::before{
    top: -10px;
}

.open-menu .burger::after{
    top: 10px;
}


.open-menu{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 25px;
    top: 35%;
    right: 26px;
    transform: translateY(0);
    z-index: 99;
    overflow: hidden;
    background: #2A2A2A;
}

.open-menu.is-active .burger{
    transform: rotate(45deg);
}

.open-menu.is-active .burger::after{
    transform-origin: center;
    transform: translate(0, -10px) rotate(180deg);
    opacity: 0;
    
}

.open-menu.is-active .burger::before{
    transform-origin: center;
    transform: translate(-2px, 9px) rotate(90deg);
}

.toggle{
    display: none;
}

@media only screen and (max-width: 1080px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 10px;
        right: -100%;
        z-index: 50;
        background-color: #2A2A2A;
        transition: all .2s ease-in-out;
    }

    .menu li{
        margin-top: 40px;
    }

    .menu li a{
        padding: 10px;
    }

    .open-menu, .close-menu{
        display: block;
    }

    #toggle:checked ~ .menu{
        right: 0;
    }
}




/*Main*/

main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
}


/*Banner*/

.banner{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),  url(./images/Banner_Background_Small@0.5x.jpg);
    color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.banner .lower{
    position: relative;
    color: #D9B4FF;
}


@media only screen and (max-width: 375px) {
    .banner h1{
        font-size: 1.8em;
    }

    .banner .content img{
        display: none;
    } 

    .banner .upper{
        margin-top: 20px;
    }

    .banner .lower{
        margin-bottom: 50%;
    }

    .b_sub{
        font-size: 0.8em;
    }
    
}

.banner h1{
    font-weight: 800;
    width: max-content;
    margin: 0 auto 0 20px;
}

.banner .content img{
    width: 50%;
    min-width: 200px;
    margin: 50px 0;
}

.b_sub{
    width: 90%;
    font-weight: 200;
    font-style: italic;
    margin: 0 auto 0 20px;
}

/*What I Do*/

.what{
    width: 100%;
    height: 100vh;
}

.what .content{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.what .content p{
    font-size: 0.8em;
    line-height: 25px;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin: 20px 0 0;
}

.what h3{
    font-size: 1em;
    margin-top: 50px;
}

.what img{
    display: none;
}

.b_btn p{
    font-weight: lighter;
    font-style: italic;
}
